teachbooks == 0.2.2
beautifulsoup4 == 4.13.4
docutils == 0.21.2
jupyter_book == 1.0.4.post1
roman == 5.1
Sphinx == 7.4.7
# sphinx-proof == 0.2.1
sphinx-exercise == 1.0.1
TexSoup == 0.3.1
sphinx-book-theme==1.1.4
teachbooks-sphinx-grasple==1.2.3
sphinx-tudelft-theme==1.1.15
jupyterbook_patches ==1.7.0
teachbooks-sphinx-tippy==1.0.12
sphinx-prime-applets==1.0.5
sphinx-indexed-definitions==1.0.4
sphinx-ref-graph==1.0.1
sphinx-image-inverter==1.1.9
sphinx-dropdown-toggle ==1.3.1
sphinx-table-support == 0.0.1
sphinx-list-support == 0.0.1
sphinx-code-examples == 1.2.1
sphinx-accessibility == 1.0.1

git+https://github.com/TeachBooks/sphinx-proof.git