beautifulsoup4
docutils
jupyter_book
roman
Sphinx
sphinx-proof
sphinx-exercise
TexSoup
sphinx-book-theme==1.1.0
teachbooks-sphinx-grasple
sphinx-tudelft-theme
jupyterbook_patches >=1.6.1
teachbooks-sphinx-tippy>=1.0.5
sphinx-prime-applets
sphinx-indexed-definitions
sphinx-ref-graph